<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>singe page</title>
</head>
<body>
<h1><a href="{% url 'index' %}">Home</a></h1>
<h2>Hello, this is page for solving equation</h2>
<p>{{ message }}</p>
<form method="post">
    {% csrf_token %}
    <p>
        <label for="inp_a">a = </label>
        <input type="number" name="a" id="inp_a">
    </p>
    <p>
        <label for="inp_b">b = </label>
        <input type="number" name="b" id="inp_b">
    </p>
    <p>
        <label for="inp_c">c = </label>
        <input type="number" name="c" id="inp_c">
    </p>
    <p><input type="submit" value="solve">
</p>
</form>
<p>{{ a }} * x<sup>2</sup> + {{ b }} * x + {{ c }} {{ answer }}</p>
</body>
</html>